@import "tailwindcss";

@theme {
  --font-noto: var(--font-noto), ui-sans-serif, system-ui;
  --font-bona: var(--font-bona), ui-serif, Georgia, serif;
}

:root {
  background: black;
}

body {
  font-family: var(--font-noto);
}
